.App-container{
    display: flex;
}

.content{

  width: 100%;
}
.sidebar{


  min-height: 800px;
}
.postcard{
  margin: 20px 50px;
 
}

.hashtag{

  margin: 0px 3px;

}
.reaction{
  margin-top: 9px;
}

.Create-Post{
  width: 80%;
margin: 10%;
margin-top: 50px;

}
